@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #E8E8E8;
    --foreground: #000000;
  }
}

@font-face {
  font-family: 'NunitoSans'; 
  src: url('../fonts/Nunito_Sans/NunitoSans-Italic-VariableFont_YTLC\,opsz\,wdth\,wght.ttf') format('ttf'),
       url('../fonts/Nunito_Sans/NunitoSans-VariableFont_YTLC\,opsz\,wdth\,wght.ttf') format('ttf');
  font-weight: normal; 
  font-style: normal; 
}

@font-face {
  font-family: 'Ubuntu'; 
  src: url('../fonts/Ubuntu/Ubuntu-LightItalic.ttf') format('ttf'),
       url('../fonts/Ubuntu/Ubuntu-BoldItalic.ttf') format('ttf');
  font-weight: normal; 
  font-style: normal; 
}

html{
  scroll-behavior:smooth;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
